[data-md-color-scheme="slate"] .md-content h1,
[data-md-color-scheme="slate"] .md-content h2,
[data-md-color-scheme="slate"] .md-content h3,
[data-md-color-scheme="slate"] .md-content h4 {
  color: rgba(255, 255, 255, 1);
}

[data-md-color-scheme="slate"] .md-content p {
  color: rgba(255, 255, 255, 0.95);
}

[data-md-color-scheme="slate"] .md-nav__link,
[data-md-color-scheme="slate"] .md-nav__title,
[data-md-color-scheme="slate"] .md-source-file__fact {
  color: rgba(255, 255, 255, 0.9);
}

